#one{
background-color: blue;
width: 3cm;
height: 5cm;
}

#two{
background-color: blueviolet;
width: 3cm;
height: 5cm;

}

#three{
background-color: chartreuse;
width: 3cm;
height: 5cm;
}

#four{
background-color: crimson;
width: 3cm;
height: 5cm;
}
#five{
background-color: chocolate;
width: 3cm;
height: 5cm;
}

#six{
background-color: darkred;
width: 3cm;
height: 5cm;
}

#seven{
    background-color: darkkhaki;
width: 50vw;
height: 50vh;
}

#eight{
    background-color: darkmagenta;
width: 50vw;
height: 50vh;

}


#nine{

background-color: cadetblue;
width: 76vw;
height: 76%;
}